@model IEnumerable<NWS_cs.Advertisement>

@{
    ViewBag.Title = "Ad Content";
}

<div class="row bumpPastTopbar">
    <h4>Manage Advertisement Content</h4>

    <p>
        <a href='@Url.Action("Create", "Advertisement")' class="button tiny">
            Create New
        </a>
    </p>

    @{
        foreach (var item in Model)
        {
            <div class="columns small-12 panel">
                <div class="row">
                    <div class="column small-2 left">
                        <a href='@Url.Action("Edit", "Advertisement", new { id=item.id })'>
                            Edit
                        </a>|
                        <a href='@Url.Action("Delete", "Advertisement", new { id=item.id })'>
                            Delete
                        </a>
                    </div>

                    <div class="column small-10 left">
                        <div class="row">
                            <img class="smallPicture" src="~/@(Html.DisplayFor(modelItem => item.link))" alt="Ad image" />
                            @Html.DisplayFor(modelItem => item.link)
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>

