@model NWS_cs.Advertisement

@{
    ViewBag.Title = "Ad Delete";
}

@using (Html.BeginForm())
{
    <div class="row bumpPastTopbar">
        <h4>Delete an Advertisement</h4>

        <h5>Are you sure you want to delete this?</h5>

        <div class="column small-12 panel">
            <div class="row">
                <div class="column small-12 small-offset-2 left">
                    <div>
                        <img class="smallPicture" src="~/@(Html.DisplayFor(model => model.link))" alt="Ad image" />
                        @Html.DisplayFor(model => model.link)
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Delete" class="button tiny" />
        </div>

        <a href='@Url.Action("Content", "Advertisement")' class="button tiny">
            Back to List
        </a>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
