@model NWS_cs.Advertisement

@{
    ViewBag.Title = "Ad Edit";
}

<div class="row bumpPastTopbar">
    <h4>Edit an Advertisement</h4>

    @Html.LabelFor(model => model.link)
    <div class="columns large-12 medium-12 small-12 panel pastelA">
        @Html.EditorFor(model => model.link)
    </div>

    @using (Html.BeginForm())
    {
        <div class="form-group">
            <input type="submit" value="Save" class="button tiny" />
        </div>

        <a href='@Url.Action("Content", "Advertisement")' class="button tiny">
            Back to List
        </a>
    }

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
