
@model IEnumerable<NWS_cs.Article>

@{
    ViewBag.Title = "Read Article";
}

<div id="top" class="bumpPastTopbar">

    <div class="row" data-equalizer>
        @{
            if (Model.Any())
            {
                var article = Model.ElementAt(0);
                <div class="column small-12 medium-6 large-6 pastelC panel left" data-equalizer-watch>
                    <img src="~/@(Html.DisplayFor(modelItem => article.image))" alt="Article image" />
                </div>

                <div class="column small-12 medium-6 large-6 pastelB panel left" data-equalizer-watch>
                    <h4>@(Html.DisplayFor(modelItem => article.title))</h4>
                    <p style="white-space:pre-wrap;">@(Html.DisplayFor(modelItem => article.text))</p>
                </div>
            }
            else
            {
                <div class="column small-12 medium-6 large-6 purpleA panel left" data-equalizer-watch>
                    <img src="~/Content/Images/no_cat.jpg" 
                         alt="Article image" />
                </div>

                <div class="column small-12 medium-6 large-6 purpleB panel left" data-equalizer-watch>
                    <p style="white-space:pre-wrap;">@(Html.Raw("Sorry, the article at that link does not exist."))</p>
                </div>
            }

        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
