
@{
    ViewBag.Title = "_Footer";
}

<footer class="footer">
    <div class="row">
        <p>
            Follow DPNA
            <a href="https://www.facebook.com/"><i class="socialIcon fi-social-facebook"></i></a>
            <a href="https://twitter.com"><i class="socialIcon fi-social-twitter"></i></a>
            <a href="http://www.codelouisville.org/">
                <img class="CL-banner" src="~/Content/Images/codelouisville-logo-banner.jpg" alt="Code Louisville Banner" />
            </a>
        <p>
    </div>
</footer>


