    <!-- Advertising Panels -->
<div class="row" data-equalizer="eq-ads">
    <h6>
        Ads...<h6>
            <div ng-repeat="ad in ads"
                 class="columns small-12 medium-6 large-4 panel left"
                 data-equalizer-watch="eq-ads">
                <img class="adGraphics" src="{{ad.link}}" alt="Advertising" />
            </div>
</div>
