@model IEnumerable<NWS_cs.Advertisement>

<div class="row" data-equalizer="eq-ads">
    <h6>Ads...</h6>
    @{
        foreach (var item in Model)
        {
            <div class="column small-12 medium-6 large-4 panel left" data-equalizer-watch="eq-ads">
                <img class="adGraphics" src="~/@(Html.DisplayFor(modelItem => item.link))" alt="Advertising image"/>
            </div>
        }
    }
</div>
