@model IEnumerable<NWS_cs.Article>

<div class="row" data-equalizer="eq-inline">
    <h6>Articles...</h6>
    @{
        int index = 0;
        string[] colors = { "greenA", "greenB", "greenC" };
        foreach (var item in Model)
        {
            <div class="column small-12 medium-6 large-4 panel left 
                 @Html.Raw(colors[index % colors.Length])"
                 data-equalizer-watch="eq-inline">
                <div>
                    @if (item.hfso == "T") {
                        <img class="hide-for-small-only" src="~/@(Html.DisplayFor(modelItem => item.image))" alt="Article image" />
                    } else {
                        <img src="~/@(Html.DisplayFor(modelItem => item.image))" alt="Article image" />
                    }
                </div>
                <h5>@Html.DisplayFor(modelItem => item.title)</h5>
                <p>@Html.DisplayFor(modelItem => item.Text100)</p>
                <a href="~/Read/Article?uuid=@(Html.DisplayFor(modelItem => item.uuid))" class="button tiny">Read More</a>
            </div>
            index++;            
        }
    }
</div>
