    <!-- Feature Article Panels -->
<div class="row" data-equalizer="eq-feature">
    <div class="columns small-12 medium-6 large-6 featureColorImage panel"
         data-equalizer-watch="eq-feature">
        <slick class="slider featureCarousel" dots=true infinite=true fade=true autoplay=true speed=3000>
            <div class="image">
                <img src="{{feature[0].image1}}" alt="Carousel slide" />
            </div>
            <div class="image">
                <img src="{{feature[0].image2}}" alt="Carousel slide" />
            </div>
            <div class="image">
                <img src="{{feature[0].image3}}" alt="Carousel slide" />
            </div>
        </slick>
    </div>
    <div class="columns small-12 medium-6 large-6 featureColorText panel"
         data-equalizer-watch="eq-feature">
        <h4>{{feature[0].title}}</h4>
        <p style="white-space:pre-wrap;">{{feature[0].article}}</p>
    </div>
</div>
