@model IEnumerable<NWS_cs.Feature>

<div class="row" data-equalizer="eq-feature">
    @{
        var feature = Model.ElementAt(0);
        string testString = feature.image1;
        <div class="columns small-12 medium-6 large-6 featureColorImage panel"
             data-equalizer-watch="eq-feature">
                <div class="image">
                    <img src="~/@(feature.image1)" alt="Carousel slide" />
                </div>
                <div class="image">
                    <img src="~/@(feature.image2)" alt="Carousel slide" />
                </div>
                <div class="image">
                    <img src="~/@(feature.image3)" alt="Carousel slide" />
                </div>
        </div>
        <div class="columns small-12 medium-6 large-6 featureColorText panel"
             data-equalizer-watch="eq-feature">
            <h4>@(feature.title)</h4>
            <p style="white-space:pre-wrap;">>@(feature.article)</p>
        </div>
     }
</div>
