@{
    ViewBag.Title = "Home Page";
}

<html>
    <head>
        <base href="." />
        <title>Neighborhood Web Site</title>
        <meta charset="utf-8">
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/foundation-icons/foundation-icons.css")" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <!-- Top Bar -->
        <div class="contain-to-grid fixed topbar">
            <nav class="top-bar">
                <img class="deerLogo hide-for-small-only left"
                     src="~/Content/Images/deer-logo-256px.jpeg"
                     alt="Deerpark logo" />

                <a class="main-logo left">
                    <!-- id dpnaText is styled by a reactive routine in my-javascript.js -->
                    <h4 id="dpnaText">Deer Park Neighborhood Association</h4>
                </a>

                <a class="menuButton button right"
                   data-options="ignore_repositioning is_hover:false"
                   data-dropdown="mydrop">
                    <i class="fi-list"></i>
                </a>

                <ul id="mydrop" class="f-dropdown right" data-dropdown-content>
                    <li><a href="#/">Home</a></li>
                    <li><a href="#/archives">Archives</a></li>
                    <li><a href="#/officers">Officers</a></li>
                    <li><a href="#/services">Services</a></li>
                    <li><a href="#/add-content#top">Add Content</a></li>
                    <li><a href="#/delete-content#top">Delete Content</a></li>
                </ul>
            </nav>
        </div>

        <!-- Application content delivered here -->



        <!-- Footer -->
        <div>
            <footer class="row">
                <hr />
                <div>
                    <p>
                        Follow DPNA
                        <a href="https://www.facebook.com/"><i class="socialIcon fi-social-facebook"></i></a>
                        <a href="https://twitter.com"><i class="socialIcon fi-social-twitter"></i></a>
                        <a href="http://www.codelouisville.org/">
                            <img class="CL-banner" src="~/Content/Images/codelouisville-logo-banner.jpg" alt="Code Louisville Banner" />
                        </a>
                    <p>
                </div>
            </footer>
        </div>

    </body>
</html>
