@{
    ViewBag.Title = "Home Page";
}

<div class="bumpPastTopbar" my-reflow-panels>

    <!-- Feature Article Panels -->
    <div class="row" data-equalizer="eq-feature">
        <div class="columns small-12 medium-6 large-6 featureColorImage panel"
             data-equalizer-watch="eq-feature">
            <slick class="slider featureCarousel" dots=true infinite=true fade=true autoplay=true speed=3000>
                <div class="image">
                    <img src="{{feature[0].image1}}" alt="Carousel slide" />
                </div>
                <div class="image">
                    <img src="{{feature[0].image2}}" alt="Carousel slide" />
                </div>
                <div class="image">
                    <img src="{{feature[0].image3}}" alt="Carousel slide" />
                </div>
            </slick>
        </div>
        <div class="columns small-12 medium-6 large-6 featureColorText panel"
             data-equalizer-watch="eq-feature">
            <h4>{{feature[0].title}}</h4>
            <p style="white-space:pre-wrap;">{{feature[0].article}}</p>
        </div>
    </div>

    <!-- In-line Article Panels -->
    <div class="row" data-equalizer="eq-inline">
        <h6>
            Articles...<h6>
                <div ng-repeat="article in articles"
                     class="columns small-12 medium-6 large-4 panel left {{greenCycle($index)}}"
                     data-equalizer-watch="eq-inline">
                    <div ng-switch="article.hfso">
                        <div ng-switch-when="T">
                            <img class="hide-for-small-only" src="{{article.image}}" alt="Article image" />
                        </div>
                        <div ng-switch-default>
                            <img src="{{article.image}}" alt="Article image" />
                        </div>
                    </div>
                    <h5>{{article.title}}</h5>
                    <p>{{article.text | limitTo:100}}...</p>
                    <a href="#/read-article/{{article.uuid}}" class="button tiny">Read More</a>
                </div>
    </div>

    <!-- Video Panels -->
    <div class="row" data-equalizer="eq-videos">
        <h6>
            Videos...<h6>
                <div ng-repeat="video in videos"
                     ng-switch="video.site"
                     class="columns small-12 medium-6 large-4 panel left {{purpleCycle($index)}}"
                     data-equalizer-watch="eq-videos">
                    <div ng-switch-when="onsite">
                        <video controls>
                            <source src="{{video.link}}" type="{{video.type}}">
                        </video>
                        <h5>{{video.title}}</h5>
                        <p>{{video.description}}</p>
                    </div>
                    <div ng-switch-when="youtube">
                        <youtube-video video-url="video.link" player-height="'auto'" player-width="'auto'"></youtube-video>
                        <h5>{{video.title}}</h5>
                        <p>{{video.description}}</p>
                    </div>
                    <!-- No video available -->
                    <div ng-switch-default>
                        <img src="{{video.link}}" alt="{{video.title}}" />
                        <h5>{{video.title}}</h5>
                        <p>{{video.description}}</p>
                    </div>
                </div>
    </div>

    <!-- Advertising Panels -->
    <div class="row" data-equalizer="eq-ads">
        <h6>
            Ads...<h6>
                <div ng-repeat="ad in ads"
                     class="columns small-12 medium-6 large-4 panel left"
                     data-equalizer-watch="eq-ads">
                    <img class="adGraphics" src="{{ad.link}}" alt="Advertising" />
                </div>
    </div>

</div>
