@{
    ViewBag.Title = "Home";
}

<div class="bumpPastTopbar">
    @Html.Action("_FeaturePartial", "Home")
    @Html.Action("_ArticlePartial", "Home")
    @Html.Action("_VideoPartial", "Home")
    @Html.Action("_AdvertisementPartial", "Home")
</div>
