@{
    ViewBag.Title = "Home Page";
}

<div class="bumpPastTopbar" my-reflow-panels>
    @*@Html.Partial("_FeaturePartial")*@  
    @Html.Action("_ArticlePartial", "Home")
    @Html.Action("_VideoPartial", "Home")
    @*@Html.Partial("_AdvertisementPartial")*@
</div>
