
<div id="top" class="row bumpPastTopbar" my-reflow-panels>
    <h4>Neighborhood Website: Delete Content</h4>

    <div class="row">
        <div class="columns small-12 medium-12 large-12 left">
            <a href="" ng-click="gotoAnchor('delete-article')" class="button tiny">Articles</a>
            <a href="" ng-click="gotoAnchor('delete-video')" class="button tiny">Videos</a>
            <a href="" ng-click="gotoAnchor('delete-ad')" class="button tiny">Ads</a>
            <a href="" ng-click="gotoAnchor('delete-officer')" class="button tiny">Officers</a>
            <a href="" ng-click="gotoAnchor('delete-service')" class="button tiny">Services</a>
            <a href="" ng-click="gotoAnchor('delete-archive')" class="button tiny">Archives</a>
        </div>
    </div>

    <div id="delete-article" class="row bumpPastTopbar">
        <h4>Delete articles</h4>
        <div ng-repeat="article in articles"
             class="columns large-12 medium-12 small-12 panel {{colorCycle($index)}}">
            <div class="row">
                <div class="column large-2 medium-2 small-2 left">
                    <a href="" ng-click="deleteArticle(article.id)" class="button tiny">{{article.id}}</a>
                </div>
                <div class="column large-2 medium-2 small-2 left">
                    <img class="smallPicture" src="{{article.image}}" alt="Article image" />
                </div>
                <div class="column large-8 medium-8 small-8 left">
                    <h6>{{article.uuid}}</h6>
                    <h6>{{article.title}}</h6>
                    <h6>{{article.text | limitTo:60}}...</h6>
                </div>
            </div>
        </div>
        <a href="" ng-click="gotoAnchor('top')" class="button tiny">TOP</a>
    </div>

    <div id="delete-video" class="row bumpPastTopbar">
        <h4>Delete videos</h4>
        <div ng-repeat="video in videos"
             class="columns large-12 medium-12 small-12 panel {{colorCycle($index)}}">
            <div class="row">
                <div class="column large-2 medium-2 small-2 left">
                    <a href="" ng-click="deleteVideo(video.id)" class="button tiny">{{video.id}}</a>
                </div>
                <div class="column large-10 medium-10 small-10 left">
                    <h6>{{video.title}}</h6>
                    <h6>{{video.link}}</h6>
                </div>
            </div>
        </div>
        <a href="" ng-click="gotoAnchor('top')" class="button tiny">TOP</a>
    </div>

    <div id="delete-ad" class="row bumpPastTopbar">
        <h4>Delete ads</h4>
        <div ng-repeat="ad in ads"
             class="columns large-12 medium-12 small-12 panel {{colorCycle($index)}}">
            <div class="row">
                <div class="column large-2 medium-2 small-2 left">
                    <a href="" ng-click="deleteAd(ad.id)" class="button tiny">{{ad.id}}</a>
                </div>
                <div class="column large-2 medium-2 small-2 left">
                    <img class="smallPicture" src="{{ad.link}}" alt="Ad image" />
                </div>
            </div>
        </div>
        <a href="" ng-click="gotoAnchor('top')" class="button tiny">TOP</a>
    </div>

    <div id="delete-officer" class="row bumpPastTopbar">
        <h4>Delete officers and board members</h4>
        <div ng-repeat="officer in officers"
             class="columns large-12 medium-12 small-12 panel {{colorCycle($index)}}">
            <div class="row">
                <div class="column large-2 medium-2 small-2 left">
                    <a href="" ng-click="deleteOfficer(officer.id)" class="button tiny">{{officer.id}}</a>
                </div>
                <div class="column large-2 medium-2 small-2 left">
                    <img class="smallPicture" src="{{officer.photo}}" alt="Officer photo" />
                </div>
                <div class="column large-8 medium-8 small-8 left">
                    <h6>{{officer.name}}</h6>
                    <h6>{{officer.description}}</h6>
                </div>
            </div>
        </div>
        <a href="" ng-click="gotoAnchor('top')" class="button tiny">TOP</a>
    </div>

    <div id="delete-service" class="row bumpPastTopbar">
        <h4>Delete service phone numbers</h4>
        <div ng-repeat="service in services"
             class="columns large-12 medium-12 small-12 panel {{colorCycle($index)}}">
            <div class="row">
                <div class="column large-2 medium-2 small-2 left">
                    <a href="" ng-click="deleteService(service.id)" class="button tiny">{{service.id}}</a>
                </div>
                <div class="column large-10 medium-10 small-10 left">
                    <h6>{{service.text}}</h6>
                </div>
            </div>
        </div>
        <a href="" ng-click="gotoAnchor('top')" class="button tiny">TOP</a>
    </div>

    <div id="delete-archive" class="row bumpPastTopbar">
        <h4>Delete archive items</h4>
        <div ng-repeat="archive in archives"
             class="columns large-12 medium-12 small-12 panel {{colorCycle($index)}}">
            <div class="row">
                <div class="column large-2 medium-2 small-2 left">
                    <a href="" ng-click="deleteArchive(archive.id)" class="button tiny">{{archive.id}}</a>
                </div>
                <div class="column large-10 medium-10 small-10 left">
                    <h6>{{archive.title}}</h6>
                    <h6>{{archive.link}}</h6>
                </div>
            </div>
        </div>
        <a href="" ng-click="gotoAnchor('top')" class="button tiny">TOP</a>
    </div>

</div>

