
<div id="top" class="row bumpPastTopbar">
    <h4>Neighborhood Website: Edit Content</h4>

    <div class="row">
        <div class="columns small-12 medium-12 large-12 left">
            <a href="~/Feature" class="button tiny">Feature</a>
            <a href="~/Article" class="button tiny">Articles</a>
            <a href="~/Video" class="button tiny">Videos</a>
            <a href="~/Advertisement" class="button tiny">Ads</a>
            <a href="~/Officer" class="button tiny">Officers</a>
            <a href="~/Service" class="button tiny">Services</a>
            <a href="~/Archive" class="button tiny">Archives</a>
        </div>
    </div>

</div>

