@{
    ViewBag.Title = "Edit Content";
}

<div id="top" class="row bumpPastTopbar">

    @Html.Action("_EditButtonPartial", "Edit")

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
