
<div id="top" class="row bumpPastTopbar">
    <h4>Neighborhood Website: Edit Content</h4>

    <div class="row">
        <div class="columns small-12 medium-12 large-12 left">
            <a href="~/Feature/Content" class="button tiny">Feature</a>
            <a href="~/Article/Content" class="button tiny">Articles</a>
            <a href="~/Video/Content" class="button tiny">Videos</a>
            <a href="~/Advertisement/Content" class="button tiny">Ads</a>
            <a href="~/Officer/Content" class="button tiny">Officers</a>
            <a href="~/Service/Content" class="button tiny">Services</a>
            <a href="~/Archive/Content" class="button tiny">Archives</a>
        </div>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
